<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="feed">
	<insert id="insertPost" parameterType="PostDto">
		INSERT INTO
			POST(
				MEMBER_ID,
				CATEGORY_TITLE,
				TITLE,
				THUMBNAIL,
				CONTENT,
				POST_PRIVATE,
				REG_DATE
			)
		VALUES(
				#{memberId},
				#{categoryTitle},
				#{title},
				#{thumbnail},
				#{content},
				#{postPrivate},
				NOW()	
		)

	</insert>
	
	<select id="selectOneMember" parameterType="String" resultType="MemberDto">
		SELECT
				*
		FROM
				MEMBER
		WHERE 
				ID = #{id}
	</select>
	
	<select id="selectPostList" parameterType="String" resultType="PostDto">
		 SELECT
		 		POST_ID,
		 		MEMBER_ID,
		 		CATEGORY_TITLE,
		 		TITLE,
		 		THUMBNAIL,
		 		CONTENT,
		 		POST_PRIVATE,
		 		date_format(REG_DATE, '%Y-%m-%d %H:%i') REGDATE
		 FROM	
		 		POST
		 WHERE
		 		MEMBER_ID = #{memberId}
		 ORDER BY
		 		REG_DATE DESC
	</select>
	
	<select id="selectOnePost" parameterType="String" resultType="PostDto">
		SELECT
				POST_ID,
		 		MEMBER_ID,
		 		CATEGORY_TITLE,
		 		TITLE,
		 		THUMBNAIL,
		 		CONTENT,
		 		POST_PRIVATE,
		 		date_format(REG_DATE, '%Y-%m-%d %H:%i') REGDATE
		FROM
				POST
		WHERE
				POST_ID = #{postId}
	</select>
	
	<update id="updatePost" parameterType="PostDto">
		UPDATE
				POST
		SET
				CATEGORY_TITLE = #{categoryTitle},
				TITLE = #{title},
				THUMBNAIL = #{thumbnail},
				CONTENT = #{content},
				POST_PRIVATE = #{postPrivate}
		WHERE
				POST_ID = #{postId}
	</update>
	
	<delete id="deletePost" parameterType="String">
		DELETE FROM
					POST
		WHERE	
					POST_ID = #{postId}		
	</delete>
</mapper>